<div id="<%= dom_id alumno %>">
  <p>
    <strong>Numero cuenta:</strong>
    <%= alumno.numero_cuenta %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= alumno.nombre %>
  </p>

  <p>
    <strong>Apellido paterno:</strong>
    <%= alumno.apellido_paterno %>
  </p>

  <p>
    <strong>Apellido materno:</strong>
    <%= alumno.apellido_materno %>
  </p>

  <p>
    <strong>Grado:</strong>
    <%= alumno.grado %>
  </p>

  <p>
    <strong>Grupo:</strong>
    <%= alumno.grupo %>
  </p>

</div>
