<div id="<%= dom_id assistance %>">
  <p>
    <strong>Account:</strong>
    <%= assistance.account %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= assistance.name %>
  </p>

  <p>
    <strong>Dad last:</strong>
    <%= assistance.dad_last %>
  </p>

  <p>
    <strong>Mother last:</strong>
    <%= assistance.mother_last %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= assistance.grade %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= assistance.group %>
  </p>

</div>
